# Binder
/.bash_logout
/.bashrc
/.bash_history
/.conda/
/.config/
/.jupyter-server-log.txt
/.jupyter/
/.local/
/.profile
/.subversion/
/.ipynb_checkpoints/
/.Renviron
/.Rhistory
/.Rproj.user
# Data
/data/
/tmp/
# Dev
/.vscode/
/.venv/
# Local
/public_analysis.html
