# Binder
/.bash_logout
/.bashrc
/.bash_history
/.conda/
/.config/
/.jupyter-server-log.txt
/.jupyter/
/.local/
/.profile
/.subversion/
/.R
/.Renviron
/.Rhistory
/.Rproj.user
# Dev
/.vscode/
/.venv/
# Project
/.venv/
.ipynb_checkpoints/
# Local
/tmp/
local.sh
/public_analysis.html
